<%= render "shared/header" %>

<section class="bg-gradient-to-b from-white to-neutral-500 flex flex-col items-center lg:py-10 w-full">

  <!--Area Inside Section Main container rounded-->
  <div class="flex flex-col items-center lg:max-w-6xl lg:rounded-3xl lg:border-2 border-black bg-white font-light">
    <div class="">
      <!--Top header picture-->
      <div class="bg-home bg-cover px-10 lg:rounded-t-2xl h-screen-3/4 lg:h-screen-1/2 lg:bg-bottom bg-right flex flex-col justify-center text-white">
        <h1 class="text-3xl lg:text-5xl pt-10 font-thin">Heritage Field Airport's Premier FBO</h1>
        <h2 class="text-xl lg:text-3xl pt-10 font-thin italic">The Place For All Your Aviation Needs at KPTW</h2>
      </div>

      <!--Container for text-->
      <div class="flex flex-col items-center">

        <div class="container mx-auto px-4 flex flex-col items-center">
          <div class="mb-10">
            <h2 class="text-3xl font-semibold text-center my-4">Welcome to Pitcairn Aviation</h2>
            <p class="text-lg text-center text-gray-700">Your trusted Fixed-Base Operator (FBO) at Heritage Field Airport, serving the Pottstown, PA area.<br>Reach our team at (610) 495-7000.</p>
          </div>

          <h3 class="text-xl font-semibold mb-10">Our Comprehensive Services</h3>

          <div class="grid grid-cols-1 md:grid-cols-2 md:gap-8 max-w-4xl">
            <ul class="list-disc pl-6">
              <!--<li><span class="font-semibold">Flight Training</span> by Pitcairn Flight Academy LLC: Learn how to fly and rent aircraft.</li>
              <li><span class="font-semibold">Aircraft Maintenance</span> by Penn Air Repair LLC: Top-notch care for your aircraft.</li>
              <li><span class="font-semibold">Aircraft Management</span> with PennJet LLC: Optimizing aircraft performance.</li>-->
              <li><span class="font-semibold">Self-Serve Convenience</span>: Hassle-free refueling with our AvGas pump.</li>
              <li><span class="font-semibold">Full-Service Fueling</span>: Reliable refueling with Phillips 66 Branded Fuel.</li>
              <li><span class="font-semibold">Overnight Hangar and Tie-down</span>: Secure aircraft storage options.</li>
              <li><span class="font-semibold">Hangar Rentals</span>: Long-term housing solutions for your aircraft.</li>
            </ul>

            <ul class="list-disc pl-6">
              <li><span class="font-semibold">Convenience at Your Fingertips</span>: Access to crew cars and rental cars.</li>
              <li><span class="font-semibold">Meeting and Rest Facilities</span>: Conference rooms and quiet spaces available.</li>
              <li><span class="font-semibold">Enhanced Security</span>: Fenced airfield gate access and secure parking.</li>
              <li><span class="font-semibold">On-Site Assistance</span>: Ground power start and jump start services.</li>
              <!--<li><span class="font-semibold">Proud Supporters</span>: We proudly support Civil Air Patrol, EAA, and PAOP.</li>-->
            </ul>
          </div>
        </div>

        <h3 class="text-xl font-semibold mt-10 mb-16 text-center">Fuel Prices</h3>
        <div class="flex flex-col-reverse lg:flex-row max-w-3xl mx-auto mb-10">
          <div class="lg:w-1/2 flex flex-col items-center">
            <table class="w-full text-sm text-left text-gray-500 border">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    Fuel Type
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Full Service
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Self Service
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    100 LL
                  </th>
                  <td class="px-6 py-4">
                    $6.36
                  </td>
                  <td class="px-6 py-4">
                    $6.11
                  </td>
                </tr>
                <tr class="bg-white">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Jet A
                  </th>
                  <td class="px-6 py-4">
                    $6.50
                  </td>
                  <td class="px-6 py-4">
                    --
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-sm italic pt-5">
            Last updated on: September 29, 2023
            </p>
          </div>
          <div class="lg:w-1/2 flex flex-col items-center justify-center pb-20">
            <%= image_tag "pitcairn-aviation-phillips66.webp", class: "w-64", alt: "Phillips 66 Aviation Logo"%>
          </div>
        </div>

        <h3 class="text-xl font-semibold mt-5 mb-12 text-center">Car Rental</h3>
        <div class="flex flex-col lg:flex-row max-w-4xl mx-auto mb-10">
          <div class="lg:w-1/2 flex flex-col items-center">
            <p class="pt-5 px-10 pb-10 lg:pb-0">
            At Pitcairn Aviation, we understand the importance of convenience for our clients, which is why we offer <span class="font-bold">on site</span> Enterprise Car Rental services right at our facility. 
            Whether you're arriving or departing from Heritage Field (KPTW), our partnership with Enterprise ensures that you have easy access to rental cars, allowing for seamless transitions between your flight and ground transportation. 
            In addition to Enterprise, we also work with Hertz and Avis to provide an even broader range of options. While Hertz and Avis aren't on site, they are able to deliver your rental vehicle to our location.
            </p>
          </div>
          <div class="lg:w-1/2 flex flex-col items-center justify-center">
            <%= image_tag "pitcairn-aviation-enterprise.webp", class: "w-80", alt: "Enterprise Car Rental logo"%>
            <div class="flex gap-10 pt-10">
              <%= image_tag "pitcairn-aviation-hertz.webp", class: "w-32", alt: "Hertz Car Rental logo"%>
              <%= image_tag "pitcairn-aviation-avis.webp", class: "w-32", alt: "Avis Car Rental logo"%>
            </div>
          </div>
        </div>

        <h3 class="text-xl font-semibold mb-12 text-center">Companies On The Field</h3>
        <div class="flex flex-col gap-10 lg:flex-row max-w-4xl px-5 mx-auto mb-10">
          <div class="lg:w-1/3 flex flex-col justify-between items-center border rounded-2xl shadow-2xl pt-5 px-10 pb-5 hover:scale-105 duration-300">
            <%= image_tag "pitcairn-flight-logo-500.webp", class: "", alt: ""%>
            <div class="flex flex-col">
              <p class="py-5">
                Flight training by Pitcairn Flight LLC.  Learn how to fly and rent aircraft.
              </p>
              <%= link_to "https://pitcairnflightacademy.com", target: "blank" do%>
                <div class="btn-primary text-sm">Visit Pitcairn Flight</div>
              <% end %>
            </div>
          </div>
          <div class="lg:w-1/3 flex flex-col justify-between items-center border rounded-2xl shadow-2xl pt-5 px-10 pb-5 hover:scale-105 duration-300">
            <%= image_tag "penn-air-logo-250.webp", class: "h-16", alt: ""%>
            <div class="flex flex-col">
              <p class="py-5">
                Aircraft maintenance and inspection by Penn Air Repair LLC.
              </p>
              <%= link_to "", target: "blank" do%>
                <div class="btn-primary text-sm">Visit Penn Air Repair</div>
              <% end %>
            </div>
          </div>
          <div class="lg:w-1/3 flex flex-col justify-between items-center border rounded-2xl shadow-2xl pt-5 px-10 pb-5 hover:scale-105 duration-300">
            <%= image_tag "penn-jet-logo-250.webp", class: "", alt: ""%>
            <div class="flex flex-col">
              <p class="py-5">
                Aircraft management and private charter by Penn Jet LLC.
              </p>
              <%= link_to "", target: "blank" do%>
                <div class="btn-primary text-sm">Visit Penn Jet</div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="text-center mt-8 w-3/4 mx-auto">
          <p class="text-lg text-gray-700">At Pitcairn Aviation LLC, we're more than just an FBO. We're your aviation partner. Contact us today at (610) 495-7000 to learn more about our services and get in touch.</p>
        </div>


        <%= render "shared/visit_fbo"%>
        
        <div class="flex flex-col lg:flex-row-reverse items-center lg:items-start justify-center w-full">
          <div class="lg:w-1/2 px-5">
            <%= turbo_frame_tag 'form-section', class: "h-full" do %>
              <%= render 'form', message: @message%>
            <% end %>
          </div>
          <div class="lg:w-1/2 grid place-items-center">
            <%= image_tag "pitcairn-aviation-runway.webp", alt: "Runway at KPTW", class: "lg:rounded-2xl lg:w-3/4 lg:mx-10 lg:mt-10"%>
          </div>
        </div>
      </div>
        
    </div>

  </div>

<p class=" py-10 lg:pb-0 w-3/4 italic text-neutral-200 text-center">
          Website is under construction.  Please visit or call us for more details.  Pitcairn Aviation LLC.
        </p>

</section>
    

