<nav class="sticky top-0 z-50 h-16 lg:h-28 flex flex-row justify-between items-center bg-black text-white drop-shadow-2xl transform-gpu">
  <div class="pl-5 lg:pl-3 lg:pt-2 z-50">
    <%= link_to root_path, data: { turbo: false } do %>
      <%= image_tag "pitcairn-aviation-white-logo.webp", alt: "Sun City Aviation Academy Logo", class: "w-48 top-0"%>
    <% end %>
  </div>

  <!--Button-->
  <div class="mr-3 justify-end items-center gap-10 font-thin text-xl lg:flex hidden">
    <%= link_to "SERVICES"%>
    <%= link_to "PILOT INFORMATION"%>
    <%= link_to "NEWS AND EVENTS"%>
    <%= link_to "ABOUT"%>
    <button class="btn-primary lg:block hidden">
      CONTACT US
    </button>
  </div>
  <div class="lg:hidden mr-2 " x-data="{ open: false }">
    <%= render "shared/header_nav_mobile_menu"%>
  </div>
</nav>
