<nav class="flex flex-row justify-center lg:justify-between items-center bg-neutral-800 font-thin text-neutral-100 py-1 px-6">
  <div class="flex-row gap-8 hidden lg:flex" >
    <%= link_to "Pitcairn Flight Academy", "https://pitcairnflightacademy.com", class: ""%>
    <%= link_to "Penn Air Repair", "#", class: ""%>
    <%= link_to "Penn Jet", "#", class: ""%>
    <%= link_to "Heritage Field Airport", "http://heritagefield.org/", class: ""%>
    
  </div>
  <div class="text-2xl font-thin">
    <%= link_to "(610) 495-7000", "tel:(610) 495-7000" %>
  </div>

  <%# BACKLINK AREA #%>
  <div class="text-neutral-900 text-xs absolute z-0 overflow-hidden -left-[100rem]">
    <%= link_to "Pitcairn Aviation Website Designed and Developed by Right Rudder Marketing", "https://rightruddermarketing.com"%>
  </div>
</nav>